// variales

//colors
$orange: #e98e19;
$white: #fff;
$black: #241e18;
$green: #3a9c61;
$gray: #65615d;
$graylight: #a6a49d;
$grayFon: #f2f0e9;

// font-size
$f48: 4.8rem;
$f36: 3.6rem;
$f24: 2.4rem;
$f22: 2.2rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;


